<template>
    <require from="styles/home.css"></require>
    <div class="home-wrapper">
            <div class="t-a-c m-t-lg w-100">
                    <div class="bg-c-white t-s-xxl p-a-md t-c-primary">TALK</div>
            </div>

        <div class="t-a-c m-t-lg">
            <select class="t-s-xl t-c-white">
                <option>Svenska</option>
                <option>Suomi</option>
                <option>English</option>
            </select>
        </div>
        <div class="t-a-c m-t-lg w-100">
                <div class="bg-c-white t-s-xxl p-a-md t-c-primary c-p">NOW</div>
        </div>
        <div class="t-a-c m-t-lg w-100">
                <div class="bg-c-primary t-s-md p-a-md t-c-white">What is this?</div>
        </div>

    </div>
</template>